@{
    ViewData["Title"] = "摘要";
}
<h1>@ViewData["Title"]</h1>

<p>面对地理信息系统（GIS）采集而来的碎片化数据，使用百度地图JavaScript API进行Web端开发。其中数据记录了被采集者在某一时刻的GPS地理位置经纬度信息、记录时间点及需要二次生成的转换后的百度地图坐标、判断是否乘车标记、相邻时间点途径距离和时间等信息。碎片化体现在被采集者GPS坐标未正确记录为空值、数据记录不以被采集者顺序记录，以及记录时间碎片化等相对传统数据库系统开发难以处理的部分。通过使用ASP.NET CORE MVC Web框架结合Entity Framework CORE对象关系映射以及百度地图JS API处理碎片化数据并以简明可视化的形式实现诸如以下功能模块：数据信息显示、被采集者行动轨迹绘制、距离时间计算及判断等。同时实现处理后数据的二次利用开发，归纳被记录者行径特点给出合理展示。</p>
