<ul class="list-group">
    <li class="list-group-item text-info bg-light" contenteditable="false"><b><i class="fas fa-chart-line mr-1"></i>实时统计</b></li>
    <li class="list-group-item text-left"><span class="pull-left text-secondary"><i class="fas fa-file-upload mr-1"></i>数据记录 / @ViewData["DataCount"]</span></li>
    <li class="list-group-item text-left"><span class="pull-left text-info"><i class="fas fa-file-upload mr-1"></i>员工个数 / @ViewData["EmpolyeeCount"]</span></li>
</ul>